In [1]:
my_list = ['surf', 'hand wash', 'bath soap']
print(my_list)

['surf', 'hand wash', 'bath soap']

In [2]:
my_list = ['surf', 'hand wash', 'bath soap']
print(my_list)

['surf', 'hand wash', 'bath soap']

In [3]:
print(my_list[1])

hand wash

In [4]:
print(my_list[0])

surf

In [5]:
print(my_list[2])

bath soap

# find the type and class

In [6]:



my_list = ['surf', 'hand wash', 'bath soap']
print("my_list : ", type(my_list))
print(my_list)

my_list :  <class 'list'>
['surf', 'hand wash', 'bath soap']

In [7]:
print(my_list[1])

hand wash

In [8]:
my_list = ['surf', 'hand wash', 'bath soap']
print(my_list[0])

surf

# change the value in a list

In [9]:



my_list = ['surf', 'hand wash', 'bath soap']
print(my_list)
print()
print()
print()
print()
my_list[1] = 'shampoo'
print(my_list)

['surf', 'hand wash', 'bath soap']




['surf', 'shampoo', 'bath soap']

In [10]:
my_list = ['surf', 'hand wash', 'bath soap']
print(my_list)

['surf', 'hand wash', 'bath soap']

# List & Slicing

In [11]:


Imrun_List = ['daal', 'Oil', 'ghee', 'Tea', 'detergent', 'Macroni', 'jelly']
print(Imrun_List)
print(Imrun_List[0:4])
print(Imrun_List[5])
print(Imrun_List[1:3])
print(Imrun_List[2:7])
print(Imrun_List[1:6])

print()
print()
print()
print(Imrun_List[4:3])
print()
print()

print(Imrun_List[5:7])
print(Imrun_List[5:6])

['daal', 'Oil', 'ghee', 'Tea', 'detergent', 'Macroni', 'jelly']
['daal', 'Oil', 'ghee', 'Tea']
Macroni
['Oil', 'ghee']
['ghee', 'Tea', 'detergent', 'Macroni', 'jelly']
['Oil', 'ghee', 'Tea', 'detergent', 'Macroni']



[]


['Macroni', 'jelly']
['Macroni']

In [12]:
Imrun_List = ['daal', 'Oil', 'ghee', 'Tea', 'detergent', 'Macroni', 'jelly']
print(Imrun_List)

['daal', 'Oil', 'ghee', 'Tea', 'detergent', 'Macroni', 'jelly']

In [13]:
print(Imrun_List)
print()
print()
print()
print()
Imrun_List = ['daal', 'Oil', 'ghee', 'Tea', 'detergent', 'Macroni', 'jelly']
(Imrun_List)

['daal', 'Oil', 'ghee', 'Tea', 'detergent', 'Macroni', 'jelly']

['daal', 'Oil', 'ghee', 'Tea', 'detergent', 'Macroni', 'jelly']

# list including numbers & string

In [14]:


num = [6,5,7,1,3,9,0,54,87]
print(num)

print()
print()
print()
print()


string = ['why','was','afraid', 'of', 'fall']
print(string)
print()
print()
print()



# Nested list in a list


print(num + string)
print()
print()
print()
my_list = [num, string]
print(my_list)

[6, 5, 7, 1, 3, 9, 0, 54, 87]




['why', 'was', 'afraid', 'of', 'fall']



[6, 5, 7, 1, 3, 9, 0, 54, 87, 'why', 'was', 'afraid', 'of', 'fall']



[[6, 5, 7, 1, 3, 9, 0, 54, 87], ['why', 'was', 'afraid', 'of', 'fall']]

# Editing an existing list

In [15]:


list_101 = ['detergent', 'soap', 'polish', 'oil', 'biscuits',]
print(list_101)
print()
print()
print()
list_101.append('chocolates')
list_101.append('cold drinks')
list_101.append('cup cakes')
print(list_101)
print()
print()
print()
print()

# deleting an item from a list


del list_101[1]
print(list_101)

# multiplying the list


print()
print()
print()
print(list_101*5)

['detergent', 'soap', 'polish', 'oil', 'biscuits']



['detergent', 'soap', 'polish', 'oil', 'biscuits', 'chocolates', 'cold drinks', 'cup cakes']




['detergent', 'polish', 'oil', 'biscuits', 'chocolates', 'cold drinks', 'cup cakes']



['detergent', 'polish', 'oil', 'biscuits', 'chocolates', 'cold drinks', 'cup cakes', 'detergent', 'polish', 'oil', 'biscuits', 'chocolates', 'cold drinks', 'cup cakes', 'detergent', 'polish', 'oil', 'biscuits', 'chocolates', 'cold drinks', 'cup cakes', 'detergent', 'polish', 'oil', 'biscuits', 'chocolates', 'cold drinks', 'cup cakes', 'detergent', 'polish', 'oil', 'biscuits', 'chocolates', 'cold drinks', 'cup cakes']

# list with range function

In [16]:



print(list(range(10,20)))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

# Sorting out a list

In [17]:
fusion_list = [12,42,96,69,26,32,19]
fusion_list.sort()
print(fusion_list)

[12, 19, 26, 32, 42, 69, 96]

# Nested list

In [18]:
list_one = [1,2,3,65,12]
list_two = ['hook', 'van', 'lamp', 'table', 'bike']
list_three = [1, 'bolt', 23, 'milk', 'bread', 47]
my_nested_list = [list_one, list_two, list_three]
print(my_nested_list)

[[1, 2, 3, 65, 12], ['hook', 'van', 'lamp', 'table', 'bike'], [1, 'bolt', 23, 'milk', 'bread', 47]]

# len function for list

In [7]:
list_101 = ['rooh afza', 'gulab', 100, 65.7]

In [8]:
len(list_101)

4

In [9]:
# we use [ ] for indexing and slicing of list

list_101[0]

'rooh afza'

In [10]:
list_101[1:]

['gulab', 100, 65.7]

# concatenating two list

In [11]:
second_list = ["juice", 'biryani', 'mutton karahi']

In [12]:
list_101 + second_list

['rooh afza', 'gulab', 100, 65.7, 'juice', 'biryani', 'mutton karahi']

In [13]:
# and we want to save this list than

list_201 = list_101 + second_list

In [14]:
list_201

['rooh afza', 'gulab', 100, 65.7, 'juice', 'biryani', 'mutton karahi']

# Appending the list

In [15]:
# we use () when appending into a list
# and the change is permanant

list_201.append('salad')

In [16]:
list_201

['rooh afza', 'gulab', 100, 65.7, 'juice', 'biryani', 'mutton karahi', 'salad']

# Pop method 

# pop means remove

In [17]:
# .pop method

# if we use pop method than by default last item will be poped.
# and at the result it will show what is popped.

list_201.pop()

'salad'

In [18]:
# Now it is

list_201

['rooh afza', 'gulab', 100, 65.7, 'juice', 'biryani', 'mutton karahi']

# here we poped an item, saved the the list after pop the item by the name

# "list_201" and saved that in avariable " popped_list"

In [15]:
# or another way is

popped_list = list_201.pop()


# here we poped an item, saved the the list after pop the item by the name "list_201" and saved that in avariable " popped_list"

In [16]:
# in this way we can save and find again the deleted item from the list

list_201

['rooh afza', 'gulab', 100, 65.7, 'juice', 'biryani']

In [17]:
# like this

popped_list

'mutton karahi'

In [18]:
# Removing item by index position

list_201.pop(2)

100

In [19]:
list_201

['rooh afza', 'gulab', 65.7, 'juice', 'biryani']

# sort Function

In [3]:
Alpha_list = ['a', 'f', 'k', 'z', 'm', 'w', 'l' ]

Num_list = [1, 10, 56, 3, 12, 98, 23, 31, 7]

In [4]:
Alpha_list.sort()

In [6]:
Alpha_list

['a', 'f', 'k', 'l', 'm', 'w', 'z']

In [23]:
Num_list.sort()

In [7]:
Num_list

[1, 10, 56, 3, 12, 98, 23, 31, 7]

# Reversing the list

In [25]:
Alpha_list.reverse()

In [26]:
Alpha_list

['z', 'w', 'm', 'l', 'k', 'f', 'a']

In [8]:
Num_list.reverse()

In [19]:
Num_list

[7, 31, 23, 98, 12, 3, 56, 10, 1]

# .find   finding the index osition of given item

In [18]:
Num_list.index(56)

6

# Beta level up

In [ ]:
# definition of a List

# a data structure that can store a collection of data together.

# can store any type of data ( String, int, float, Bool).

# length is not fixed we can enhance the size of list.

#

# Methods of Initializing a list

In [1]:
# method no. 1

my_first_list = []       # declairs an empty list
my_first_list

[]

In [2]:
# method no. 2

my_second_list = list()   # declairs an empty list

my_second_list

[]

In [3]:
# method no. 3   assigning values directly...

my_list_0 = [1,2,3,4,5]  # declairs a list with 5 elements....

my_list_0

[1, 2, 3, 4, 5]

In [5]:
# method no. 4  BY comprehension...

my_new_list = [value for value in range(0,10)]

my_new_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# difference between append and insert...

In [ ]:
# append function only add the new element in last of the list....
# but by using insert function we can add a certain element in a ertain postion...

# .insert function

In [36]:
alpha_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

alpha_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [37]:
alpha_list.append(356)

alpha_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 356]

In [22]:
my_new_list.append(56)

my_new_list

[0,
 1,
 48,
 48,
 48,
 48,
 48,
 48,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 56,
 56,
 56,
 56,
 56,
 56,
 56]

In [27]:
my_new_list.pop(3)
my_new_list.pop(4)
my_new_list.pop(5)

4

In [28]:
my_new_list

[0, 1, 48, 48, 3, 5, 6, 7, 8, 9, 56, 56, 56, 56, 56, 56, 56]

In [29]:
my_new_list.pop(2)

48

In [30]:
my_new_list.pop()
my_new_list.pop()
my_new_list.pop()
my_new_list.pop()
my_new_list.pop()
my_new_list.pop()

56

In [31]:
my_new_list

[0, 1, 48, 3, 5, 6, 7, 8, 9, 56]

In [32]:
my_new_list.insert(4,98)
my_new_list


# previous on the 4th position the element was 5 but after using the insert function we make the 4 th position element 98

# here new element will not replace the position 4 but the element in 4th position will be position 5.....

[0, 1, 48, 3, 98, 5, 6, 7, 8, 9, 56]