In [1]:
exp = [2340, 2500, 2100, 3100, 2980]

# total = exp[0] + exp[1] + exp[2] + exp[3] + [exp4]

total = 0
for i in exp :
    total = total + i
print(i)

2980

In [2]:
budget = [9680, 4810, 1152, 2263, 4724, 6832]

total = 0
for x in budget :
    total = total + x
print(total)

29461

In [1]:
budget = [9680, 4810, 1152, 2263, 4724, 6832]

total = 0
for x in budget :
    total = total + x
    print(total)

9680
14490
15642
17905
22629
29461

# combining if and for loop

In [28]:


budget = [9680, 4810, 1152, 2263, 4724, 6832]
total = 0
for i in range(len(budget)):    
    print('Month : ',(i+1), 'budget : ',budget[i])
    total = total + budget[i]
print()
print()
print()
print('Total amount is :', total)

Month :  1 budget :  9680
Month :  2 budget :  4810
Month :  3 budget :  1152
Month :  4 budget :  2263
Month :  5 budget :  4724
Month :  6 budget :  6832



Total amount is : 29461

In [9]:
key = 'chair'
location = ['garage', 'living room', '" chair "', 'closet']
for i in location :
    if i == key :
        print('key is found in', i )
        break
    else:
        print('key is not found in', i)

key is not found in garage
key is not found in living room
key is not found in " chair "
key is not found in closet

In [12]:
location = ['garage', 'living room', '" chair "', 'closet']
for m in location :
    print(location)

['garage', 'living room', '" chair "', 'closet']
['garage', 'living room', '" chair "', 'closet']
['garage', 'living room', '" chair "', 'closet']
['garage', 'living room', '" chair "', 'closet']

In [18]:
location = ['garage', 'living room', 'chair', 'closet']
for k in location :
    print(k)
    print(k)
    print(k)

garage
garage
garage
living room
living room
living room
chair
chair
chair
closet
closet
closet

In [19]:
location = ['garage', 'living room', 'chair', 'closet']
for j in location :
    print(j)

garage
living room
chair
closet

In [19]:
ID = 'black stone'

total_list = ['fire works', 'lion roar', 'white riders', 'black stone']
for m in total_list :
    if m == ID :
        print('ID found in', m)
        break
    else :
        print('ID not found in', m)

ID not found in fire works
ID not found in lion roar
ID not found in white riders
ID found in black stone

In [21]:
for k in range(0,11):
    print(k)

0
1
2
3
4
5
6
7
8
9
10

In [23]:
for j in range(1,12) :
    print(j*j)

1
4
9
16
25
36
49
64
81
100
121

In [24]:
for j in range(1,12) :
    if j %2 == 0 :
        continue
    print(j*j)

1
9
25
49
81
121

In [26]:
for j in range(1,12) :
    if j %5 == 0 :
        continue
    print(j*j)

1
4
9
16
36
49
64
81
121

In [29]:
m = 21
while m < 38 :
    m = m + 1
    print(m)

22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38

In [2]:
m = 11
y = 6
n = 15
while m < 19 and y < 11 and n < 25 :
    m = m + 1
    y = y + 1
    n = n + 1
    print(m,y,n)

12 7 16
13 8 17
14 9 18
15 10 19
16 11 20

In [36]:
v = 'imrana is a good guy.'
for v in v :
    print(v)

i
m
r
a
n
a

i
s

a

g
o
o
d

g
u
y
.

In [1]:
b = 'dawlance & absons & sonex'
for b in b :
    print(b)

d
a
w
l
a
n
c
e

&

a
b
s
o
n
s

&

s
o
n
e
x

# For with dictionar

In [4]:
my_dict = {'one':1 ,'two':2, 'three':3, 'thirty four':34}

for k in my_dict :
    print(k)

one
two
three
thirty four

# For sorting

In [17]:
a_dict = {'one':1 , 'three':3, 'two':2, 'thirty four':34}
keys = a_dict.keys()
sorted(keys)

for key_2 in keys :
    print(key_2)

# not working

one
three
two
thirty four

In [20]:
for number in range(10):
    if number % 2 == 0:
        print(number)

0
2
4
6
8

# combining if and for loop

In [24]:


exp = [1145, 2659, 3549, 4589, 5648, 6621, 7145]
total = 0
for e in range(len(exp)) :
    print('Month : ',(e + 1), 'Expenses : ',exp[e])
    total = total + exp[e]
print()
print()
print('Total for the period is :', total)

Month :  1 Expenses :  1145
Month :  2 Expenses :  2659
Month :  3 Expenses :  3549
Month :  4 Expenses :  4589
Month :  5 Expenses :  5648
Month :  6 Expenses :  6621
Month :  7 Expenses :  7145


Total for the period is : 31356

In [4]:
Grocery_list = ['bread','butter','jelly','cheese','honey','egg','cream']
for G in range(0,6) :
    print(Grocery_list)

['bread', 'butter', 'jelly', 'cheese', 'honey', 'egg', 'cream']
['bread', 'butter', 'jelly', 'cheese', 'honey', 'egg', 'cream']
['bread', 'butter', 'jelly', 'cheese', 'honey', 'egg', 'cream']
['bread', 'butter', 'jelly', 'cheese', 'honey', 'egg', 'cream']
['bread', 'butter', 'jelly', 'cheese', 'honey', 'egg', 'cream']
['bread', 'butter', 'jelly', 'cheese', 'honey', 'egg', 'cream']

In [6]:
c = 12
d = 37

while c<25 and d<62 :
    c = c + 1
    d = d + 1
    print(c,d)

13 38
14 39
15 40
16 41
17 42
18 43
19 44
20 45
21 46
22 47
23 48
24 49
25 50

In [7]:
Grocery_list = ['bread','butter','jelly','cheese','honey','egg','cream']
for f in Grocery_list :
    print(Grocery_list)

['bread', 'butter', 'jelly', 'cheese', 'honey', 'egg', 'cream']
['bread', 'butter', 'jelly', 'cheese', 'honey', 'egg', 'cream']
['bread', 'butter', 'jelly', 'cheese', 'honey', 'egg', 'cream']
['bread', 'butter', 'jelly', 'cheese', 'honey', 'egg', 'cream']
['bread', 'butter', 'jelly', 'cheese', 'honey', 'egg', 'cream']
['bread', 'butter', 'jelly', 'cheese', 'honey', 'egg', 'cream']
['bread', 'butter', 'jelly', 'cheese', 'honey', 'egg', 'cream']

In [11]:
for k in range(0,7):
    print('salam')

salam
salam
salam
salam
salam
salam
salam

In [13]:
for x in range(0,6):
    print('salam %s' %x)

salam 0
salam 1
salam 2
salam 3
salam 4
salam 5

In [17]:
for x in range(0,6):
    print('salam %s' %x)

salam 0
salam 1
salam 2
salam 3
salam 4
salam 5

In [3]:
for x in range(0,6):
    print("salam",(x))

salam 0
salam 1
salam 2
salam 3
salam 4
salam 5

# Enumerate Function

In [7]:
names = ["muhammad", "Raza", "Poonum", "Ali"]
for i in range(0,len(names)):
    if i is not 1:
        print(names[i])

muhammad
Poonum
Ali

In [3]:
names = ["muhammad", "Raza", "Poonum", "Ali"]
for index, item in enumerate (names):
    if index is not 2:
        print(item)

muhammad
Raza
Ali

In [6]:
names = ["muhammad", "Raza", "Poonum", "Ali"]
for j, item in enumerate (names):
    if j is not 3:
        print(item)

muhammad
Raza
Poonum