# Sets are un ordered, un indexed collection of unique elements(means repitation is not alllowed).

In [1]:
# method to create a set 

my_set = set()

In [2]:
# empty set

my_set

set()

In [3]:
# adding elements in empty set

my_set.add(19)

In [4]:
my_set

{19}

In [6]:
my_set.add(49)

In [8]:
my_set

{19, 49}

In [10]:
# does not support reptation here it except the command for add but showing two time like....


my_set.add(19)

In [11]:
# here it is


my_set

{19, 49}

In [5]:
my_set.add

In [16]:
# now


list_1 = [1,1,1,1,2,2,2,2,2,3,3,3,3,3,4,4,4,4,5,5,5,5,5,5,6,6,6,6,6,6,7,7,7,7,8,8,8,8,]

In [17]:
set_101 = set(list_1)

In [18]:
set_101

{1, 2, 3, 4, 5, 6, 7, 8}

In [19]:
# but if we do it.....


list_2 = [9,9,9,9,8,8,8,7,7,7,6,6,6,5,5,5,5,4,4,4,3,3,3,2,2,2,1,1,1,1]

In [21]:
set_102 = set(list_2)

In [22]:
# it will not only cancel the repeated item but sort them by default like it.......

set_102

{1, 2, 3, 4, 5, 6, 7, 8, 9}

# Boolean

In [23]:
True

True

In [24]:
False

False

In [25]:
type(True)

bool

In [26]:
type(False)

bool

In [27]:
1 > 2

False

In [28]:
9 < 15

True

In [29]:
94 == 94

True

In [31]:
a = None

In [33]:
a 

print(a)

None

In [34]:
5 == 4

False

In [35]:
54 > 89

False

In [36]:
54 > 45

True

In [37]:
54 != 98

True

In [38]:
11 >= 15

False

In [39]:
11 >= 11

True

In [40]:
15 <= 18

True

In [41]:
18 <= 11

False

# Boolean Operators

In [ ]:
# AND  if both of the operand are true then condition becomes true. 

# OR   if any of the operand are true then condition becomes true.

# NOT  used to reverse the logical state of it's operand.

In [42]:
1 < 2

True

In [44]:
# chaining the operators

2 < 5 < 8

True

In [45]:
2 < 5 > 3

True

In [47]:
# but it will show the last calculation like it...
# because last statement is .. 6 is not less than 4...


4 < 6 < 4

False

In [49]:
# but this code easy to read ...

# here it will make true if both the condition are true like .....


16 < 12 and 23 > 15

False

In [50]:
16 < 54 and 23 > 15

True

In [52]:
# here it will make true if any of the condition is true not the last one like .....


541 > 321 or 112 < 225

True

In [53]:
91 > 51 or 68 < 51

True

# Not Operator

In [54]:
# but if we need the result in reverse than we will use it...


not 1 == 1

False

In [55]:
2 == 2

True

In [56]:
not 2 == 2

False

In [57]:
 25 == 35

False

In [58]:
# but 

not 25 == 35

True

# Beta level up

In [ ]:
# Definition

# A data structure that can store a sequence. it does not retain it's order.
# it is not possible to index or subset a Set
# Can store any type of data.
# Elements can be add or removed .
# Sets only stores inique value, if an element is repeated , only one will be remain.
# you can Arithamtic set operations on python sets such as union, inter section , Difference etc.

# initializing a set

In [ ]:
# methods of initializing a set ....

In [3]:
# Method no. 1 to initialize a set......


first_set = set()   # declairs an empty set ....

first_set

set()

In [4]:
# Method no. 2 to initialize a set......


my_set = {1,2,3,4,5,6,7,8,9,10}        # declairs a set with 10 elements...

my_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# .add

In [7]:
my_set.add(23)


my_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 23}

In [8]:
len(my_set)

11

In [10]:
# performing mathematical set operations with another set.


x = {1,2,3,4}

y = {2,4,6,8}

z = {1,3,5,7}

In [11]:
x.intersection(y)

{2, 4}

In [12]:
z.intersection(y)

set()

In [13]:
z.intersection(x)

{1, 3}

In [14]:
# union


y.union(z)

{1, 2, 3, 4, 5, 6, 7, 8}

In [15]:
x.union(y)

{1, 2, 3, 4, 6, 8}

In [16]:
z.union(x)

{1, 2, 3, 4, 5, 7}

In [17]:
# is subset function
# it will check either a set is subset of another or not....

y.issubset(x)

False

In [21]:
z.issubset(y)

False

# Super set

In [19]:
k = {2,4}

x.issuperset(k)

True

In [20]:
k.issubset(x)

True

# Disjoint

In [22]:
x.isdisjoint(y)

False

In [23]:
x.isdisjoint(z)

False

In [25]:
y.isdisjoint(z)

True