In [2]:
my_list = ['surf', 'hand wash', 'bath soap']
print(my_list)

['surf', 'hand wash', 'bath soap']

In [4]:
my_list = ['surf', 'hand wash', 'bath soap']
print(my_list)

['surf', 'hand wash', 'bath soap']

In [4]:
print(my_list[1])

hand wash

In [5]:
print(my_list[1])

hand wash

In [6]:
print(my_list[1])

hand wash

# find the type and class

In [ ]:



my_list = ['surf', 'hand wash', 'bath soap']
print("my_list : ", type(my_list))
print(my_list)

In [8]:
print(my_list[1])

hand wash

In [7]:
my_list = ['surf', 'hand wash', 'bath soap']
print(my_list[1])

hand wash

# change the value in a list

In [152]:



my_list = ['surf', 'hand wash', 'bath soap']
print(my_list)
print()
print()
print()
print()
my_list[1] = 'shampoo'
print(my_list)

['surf', 'hand wash', 'bath soap']




['surf', 'shampoo', 'bath soap']

In [8]:
my_list = ['surf', 'hand wash', 'bath soap']
print(my_list)

['surf', 'hand wash', 'bath soap']

# List & Slicing

In [50]:


Imrun_List = ['daal', 'Oil', 'ghee', 'Tea', 'detergent', 'Macroni', 'jelly']
print(Imrun_List)
print(Imrun_List[0:4])
print(Imrun_List[5])
print(Imrun_List[1:3])
print(Imrun_List[2:7])
print(Imrun_List[1:6])

print()
print()
print()
print(Imrun_List[4:3])
print()
print()

print(Imrun_List[5:7])
print(Imrun_List[5:6])

['daal', 'Oil', 'ghee', 'Tea', 'detergent', 'Macroni', 'jelly']
['daal', 'Oil', 'ghee', 'Tea']
Macroni
['Oil', 'ghee']
['ghee', 'Tea', 'detergent', 'Macroni', 'jelly']
['Oil', 'ghee', 'Tea', 'detergent', 'Macroni']



[]


['Macroni', 'jelly']
['Macroni']

In [53]:
Imrun_List = ['daal', 'Oil', 'ghee', 'Tea', 'detergent', 'Macroni', 'jelly']
print(Imrun_List)

['daal', 'Oil', 'ghee', 'Tea', 'detergent', 'Macroni', 'jelly']

In [54]:
print(Imrun_List)
print()
print()
print()
print()
Imrun_List = ['daal', 'Oil', 'ghee', 'Tea', 'detergent', 'Macroni', 'jelly']
(Imrun_List)

['daal', 'Oil', 'ghee', 'Tea', 'detergent', 'Macroni', 'jelly']

['daal', 'Oil', 'ghee', 'Tea', 'detergent', 'Macroni', 'jelly']

# list including numbers & string

In [15]:


num = [6,5,7,1,3,9,0,54,87]
print(num)

print()
print()
print()
print()


string = ['why','was','afraid', 'of', 'fall']
print(string)
print()
print()
print()



# Nested list in a list


print(num + string)
print()
print()
print()
my_list = [num, string]
print(my_list)

[6, 5, 7, 1, 3, 9, 0, 54, 87]




['why', 'was', 'afraid', 'of', 'fall']



[6, 5, 7, 1, 3, 9, 0, 54, 87, 'why', 'was', 'afraid', 'of', 'fall']



[[6, 5, 7, 1, 3, 9, 0, 54, 87], ['why', 'was', 'afraid', 'of', 'fall']]

# Editing an existing list

In [57]:


list_101 = ['detergent', 'soap', 'polish', 'oil', 'biscuits',]
print(list_101)
print()
print()
print()
list_101.append('chocolates')
list_101.append('cold drinks')
list_101.append('cup cakes')
print(list_101)
print()
print()
print()
print()

# deleting an item from a list


del list_101[1]
print(list_101)

# multiplying the list


print()
print()
print()
print(list_101*5)

['detergent', 'soap', 'polish', 'oil', 'biscuits']



['detergent', 'soap', 'polish', 'oil', 'biscuits', 'chocolates', 'cold drinks', 'cup cakes']




['detergent', 'polish', 'oil', 'biscuits', 'chocolates', 'cold drinks', 'cup cakes']



['detergent', 'polish', 'oil', 'biscuits', 'chocolates', 'cold drinks', 'cup cakes', 'detergent', 'polish', 'oil', 'biscuits', 'chocolates', 'cold drinks', 'cup cakes', 'detergent', 'polish', 'oil', 'biscuits', 'chocolates', 'cold drinks', 'cup cakes', 'detergent', 'polish', 'oil', 'biscuits', 'chocolates', 'cold drinks', 'cup cakes', 'detergent', 'polish', 'oil', 'biscuits', 'chocolates', 'cold drinks', 'cup cakes']

# list with range function

In [18]:



print(list(range(10,20)))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

# Sorting out a list

In [19]:
fusion_list = [12,42,96,69,26,32,19]
fusion_list.sort()
print(fusion_list)

[12, 19, 26, 32, 42, 69, 96]

# Nested list

In [21]:
list_one = [1,2,3,65,12]
list_two = ['hook', 'van', 'lamp', 'table', 'bike']
list_three = [1, 'bolt', 23, 'milk', 'bread', 47]
my_nested_list = [list_one, list_two, list_three]
print(my_nested_list)

[[1, 2, 3, 65, 12], ['hook', 'van', 'lamp', 'table', 'bike'], [1, 'bolt', 23, 'milk', 'bread', 47]]

# Maps or Dictionary

In [22]:

fav_sport = {'faizan':'cricket', 'omer':'football', 'kashif':'hockey', 'bilal':'rugby'}
print(fav_sport)

{'faizan': 'cricket', 'omer': 'football', 'kashif': 'hockey', 'bilal': 'rugby'}

In [23]:
print(fav_sport)

{'faizan': 'cricket', 'omer': 'football', 'kashif': 'hockey', 'bilal': 'rugby'}

In [25]:
print(fav_sport['bilal'])

rugby

# retreive all keys

In [26]:


fav_sport.keys()

dict_keys(['faizan', 'omer', 'kashif', 'bilal'])

# retreive all values

In [25]:


fav_sport.values()

dict_values(['cricket', 'football', 'hockey', 'basket ball'])

In [27]:
fav_sport['bilal']:'basket ball'  # not working
print(fav_sport)

{'faizan': 'cricket', 'omer': 'football', 'kashif': 'hockey', 'bilal': 'rugby'}

# changing the value of keys in a dictionary

In [28]:



fav_sport['bilal'] = 'basket ball'
print(fav_sport)

{'faizan': 'cricket', 'omer': 'football', 'kashif': 'hockey', 'bilal': 'basket ball'}

# Appending more keys in same dictionary

In [29]:


fav_sport['khizar'] = 'golf'
    
print(fav_sport)

{'faizan': 'cricket', 'omer': 'football', 'kashif': 'hockey', 'bilal': 'basket ball', 'khizar': 'golf'}

# deleting a key from a dictionary

In [35]:


del fav_sport['bilal']
print(fav_sport)

{'faizan': 'cricket', 'omer': 'football'}

In [37]:
fav_sport['bilal'] = 'basket ball'
print(fav_sport)

{'faizan': 'cricket', 'omer': 'football', 'bilal': 'basket ball'}

In [30]:
fav_sport['kashif'] = 'golf'
fav_sport['khizar'] = 'hockey'
print(fav_sport)

{'faizan': 'cricket', 'omer': 'football', 'kashif': 'golf', 'bilal': 'basket ball', 'khizar': 'hockey'}

# verifying that a key is in a Dictionary or not

In [45]:

'omer' in fav_sport

True

In [44]:
'nizam' in fav_sport

False

In [31]:
delta ={'sidra' : 'campus 1', 'hoorya' : 'campus 2'}

# add 2 dictionaries

In [32]:


fav_sport.update(delta)
fav_sport

{'faizan': 'cricket',
 'omer': 'football',
 'kashif': 'golf',
 'bilal': 'basket ball',
 'khizar': 'hockey',
 'sidra': 'campus 1',
 'hoorya': 'campus 2'}

# only clear the Dictionary

In [69]:


delta.clear()

In [68]:
delta

{}

In [70]:
del fav_sport['sidra']
print(fav_sport)

{'faizan': 'cricket', 'omer': 'football', 'bilal': 'basket ball', 'kashif': 'golf', 'khizar': 'hockey', 'hoorya': 'campus 2'}

In [33]:
del fav_sport['hoorya']
print(fav_sport)

{'faizan': 'cricket', 'omer': 'football', 'kashif': 'golf', 'bilal': 'basket ball', 'khizar': 'hockey', 'sidra': 'campus 1'}

# permanently delete a Dictionary

In [78]:

del delta

In [34]:
delta

{'sidra': 'campus 1', 'hoorya': 'campus 2'}

# use of F string

In [36]:



name = 'hoorya'
grade = 5

statement = f'''{name} is in class {grade}'''
print(statement)
statement

hoorya is in class 5

'hoorya is in class 5'

In [37]:
statement

'hoorya is in class 5'

# we can use .format function

In [38]:

name = 'hoorya'
grade = 5

statement = '''{} is in class {}'''.format(name,grade)
print(statement)
statement

hoorya is in class 5

'hoorya is in class 5'

# change the order of variables while using .format function

In [40]:



fruit_1 = '2 banana'
fruit_2 = '1 apple'
fruit_3 = '1 mango'

print("ahmed eats {},{},{} daily".format(fruit_1, fruit_2, fruit_3))

ahmed eats 2 banana,1 apple,1 mango daily

# But if we want to change the order

In [41]:


fruit_1 = '2 banana'
fruit_2 = '1 apple'
fruit_3 = '1 mango'

print("ahmed eats {2},{0},{1} daily".format(fruit_1, fruit_2, fruit_3))

ahmed eats 1 mango,2 banana,1 apple daily

# we can use %s also for embedding the value

In [96]:


name = 'hoorya'
grade = 5

statement = '''%s is in class %s''' 
print(statement %(name,grade))

hoorya is in class 5

In [42]:
p = " "*25

print('%s Dear sir' %p)
print('%s H.no 346' %p)
print('%s Setor 14 B' %p)
print('%s Orangi town Karachi' %p)

                          Dear sir
                          H.no 346
                          Setor 14 B
                          Orangi town Karachi

# string Methods:   len

In [107]:


good_saying = 'honesty is the best policy'
len(good_saying)

26

In [109]:
good_saying = 'honesty is the best policy'
mid_point = int(len(good_saying)/2)
print(mid_point)

13

In [43]:
good_saying = 'honesty is the best policy'
mid_point = int(len(good_saying)/2)

print(good_saying[:mid_point])
print()
print()
print()

print(good_saying[mid_point:])

honesty is th



e best policy

# String methods:  .count

In [3]:



read_book = 'reading book is a good habbit'
print(read_book)
print(read_book.count('e'))

reading book is a good habbit
1

In [4]:
read_book = 'reading book is a good habbit'
print(read_book.count('b'))

3

In [5]:
read_book = 'reading book is a good habbit'
print(read_book.count('o'))

4

In [120]:
print(read_book)
print("how many 'o's ? ", read_book.count('o'))
print("how many 'b's ? ", read_book.count('b'))
print("how many 'e's ? ", read_book.count('e'))
print("how many 't's ? ", read_book.count('t'))
print("how many 'g's ? ", read_book.count('g'))
print("how many 'n's ? ", read_book.count('n'))
print("how many 'k's ? ", read_book.count('k'))
print("how many 'r's ? ", read_book.count('r'))
print("how many 'a's ? ", read_book.count('a'))
print("how many 'm's ? ", read_book.count('m'))
print("how many 'j's ? ", read_book.count('j'))
print("how many 'w's ? ", read_book.count('w'))

reading book is a good habbit
how many 'o's ?  4
how many 'b's ?  3
how many 'e's ?  1
how many 't's ?  1
how many 'g's ?  2
how many 'n's ?  1
how many 'k's ?  1
how many 'r's ?  1
how many 'a's ?  3
how many 'm's ?  0
how many 'j's ?  0
how many 'w's ?  0

In [48]:
print(read_book[:12])
print("# 'o's in first half")
print(read_book[:12].count("o"))

reading book
# 'o's in first half
2

In [49]:
print(read_book[12:])
print("# 'o's in second half")
print(read_book[12:].count("r"))

 is a good habbit
# 'o's in second half
0

# string methods .find

In [6]:


print(read_book)
print("find the first place of 'i'")
print(read_book.find('i') )

reading book is a good habbit
find the first place of 'i'
4

In [140]:
print(read_book)
print("find the first place of 'a'")
print(read_book.find('a') )

reading book is a good habbit
find the first place of 'a'
2

In [141]:
read_book = 'reading book is a good habbit'
print(read_book)
reading = read_book.find('good')
print(reading, '= is starting index for "good"')

reading book is a good habbit
18 = is starting index for "good"

In [144]:
read_book = 'reading book is a good habbit'
print(read_book)

print("read_book:", read_book)
location = read_book.find('i')
#keeps looping until location = -1 (no 'i' found)

while location >= 0:
    print(" 'i' at index = " , location)
    # find("i", location + 1) looks for a "i" after index the first "i" was found
    location = read_book.find("i", location + 1)
print("no more 'i's ")

reading book is a good habbit
read_book: reading book is a good habbit
 'i' at index =  4
 'i' at index =  13
 'i' at index =  27
no more 'i's

In [7]:
print(read_book.find("good"))

18

# String Methods Upper & Lower case

In [8]:
my_string = 'this is a string'
print(my_string)

this is a string

In [9]:
my_string.upper()

'THIS IS A STRING'

In [10]:
new_string = 'TODAY IS FRIDAY'
print(new_string)

TODAY IS FRIDAY

In [11]:
new_string.lower()

'today is friday'

In [12]:
dir(new_string)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# Tuples

In [55]:
fibs = ('treat', 'medicine', 0, 56, 'toast')
print(fibs[3])

56

# Tuples & slicing

In [56]:
fibs = ('treat', 'medicine', 0, 56, 'toast')
print(fibs)
print()
print()
print(fibs[1])
print()
print()
print(fibs[0:2])
print()
print()
print(fibs[1:5])
print()
print()
print(fibs[2:4])

('treat', 'medicine', 0, 56, 'toast')


medicine


('treat', 'medicine')


('medicine', 0, 56, 'toast')


(0, 56)

# Tuple casting

In [14]:
alpha = [1,56,89,12,36]
abc = tuple(alpha)
print(abc)

(1, 56, 89, 12, 36)

In [17]:

bolt = ([15,45,78,'field', 'lights', 'helmet', 'cricket'])
print(bolt)

[15, 45, 78, 'field', 'lights', 'helmet', 'cricket']

# scientific Notation for 10 to the power 6

In [1]:
# calculating the number of Seconds in a year

365*24*60*60

31536000

In [3]:
_/1e6

31.536