# String indexing and Slicing

In [1]:
# indexing uses [] after the string or after the variable assigned the string.

hanger = 'the smart school'
hanger[0: 5]

'the s'

In [3]:
# Indexing allows us to grab a single character from a string. for example

hanger_a = 'The best online school.'
print(hanger_a[4])
print(hanger_a[6])
print(hanger_a[12])
print(hanger_a[17])

b
s
i
c

In [ ]:
# character  i  s  l  a  m

# index      0  1  2  3  4

In [ ]:
# character        i  s  l  a  m

# index            0  1  2  3  4

# Reverse index    0  -4 -3 -2 -1

# Slicing

In [ ]:
# slicing allows us to grab a subsection of multiple characters

# The syntax is Start : Stop : Step

# Start is a numerical index number for the slicing.
# Stop is the index position we will go up to (but not include)
# Step is the size of Jump we make

In [2]:
string_101 = "islam is a religion of peace"

In [3]:
string_101

'islam is a religion of peace'

In [4]:
string_101[-4]

'e'

In [5]:
string_101[0]

'i'

In [7]:
# but if we count in reverse the 0 position will be -28 (-last) for example



string_101[-28]

'i'

In [9]:
# if starting point defined but ending not then it will take untill last by default.


string_101[3:]

'am is a religion of peace'

In [10]:
# if starting point not defined but ending is defined then it will take from position 0 by default.

string_101[ :5]

'islam'

In [11]:
string_101[4:9]

'm is '

In [12]:
# if starting and ending not defined it will take start to end by default

string_101[ :: ]

'islam is a religion of peace'

In [17]:
# here it is jumping two character and picking 3rd one.

string_101[::3]

'iaiaegnfee'

In [18]:
string_101[::4]

'im eioe'

In [19]:
string_101[::5]

'i  goa'

In [20]:
string_101[5:19:3]

'  rio'

In [22]:
string_101[5::-3]

' l'

In [25]:
string_101[-1:-26:-3]

'eefngeaia'

# Concatenate strings

In [2]:
a = "salam"

In [4]:
a + " every body"

'salam every body'

# String functions

In [11]:
x = "islah e nafs"

In [12]:
x.strip()

'islah e nafs'

In [13]:
# upper case ( it will not convert in upper case permanently but for that time)

x.upper()

'ISLAH E NAFS'

In [14]:
# upper case ( it will not convert in upper case permanently but for that time)


x

'islah e nafs'

In [15]:
x.lower()

'islah e nafs'

In [14]:
# But we have to convert it permanantly in upper case then...

x = x.upper()

In [16]:
x

'islah e nafs'

# Split() function

In [17]:
# we use .split function for breaking a string into a list.. 


x.split()

['islah', 'e', 'nafs']

In [20]:
x.split('S')

['I', 'LAH E NAF', '']

In [21]:
x.split('A')

['ISL', 'H E N', 'FS']

In [24]:
# if split by first letter than first list will be empty

x.split('I')

['', 'SLAH E NAFS']

# Float format follows "{value :width:precision f}"

In [1]:
result = 100/889

In [2]:
result

0.1124859392575928

In [4]:
print("The result was {r}".format(r = result))

The result was 0.1124859392575928

In [6]:
print("The result was {r:1.3f}".format(r = result))

The result was 0.112

In [7]:
# in this function (1.4f) 1 means one white space


print("The result was {r:1.4f}".format(r = result))

The result was 0.1125

In [9]:
# if we replace 1 by 10 in (1.4f)
# then space will be 10 time.


print("The result was {r:10.4f}".format(r = result))

The result was     0.1125

# use of F string

In [36]:



name = 'hoorya'
grade = 5

statement = f'''{name} is in class {grade}'''
print(statement)
statement

hoorya is in class 5

'hoorya is in class 5'

In [ ]:



name = 'hoorya'
grade = 5

statement = f'''{name} is in class {grade}'''
print(statement)
statement

In [2]:
statement

'hoorya is in class 5'

# we can use .format function

In [3]:

name = 'hoorya'
grade = 5

statement = '''{} is in class {}'''.format(name,grade)
print(statement)
statement

hoorya is in class 5

'hoorya is in class 5'

# change the order of variables while using .format function

In [4]:



fruit_1 = '2 banana'
fruit_2 = '1 apple'
fruit_3 = '1 mango'

print("ahmed eats {},{},{} daily".format(fruit_1, fruit_2, fruit_3))

ahmed eats 2 banana,1 apple,1 mango daily

# But if we want to change the order

In [5]:


fruit_1 = '2 banana'
fruit_2 = '1 apple'
fruit_3 = '1 mango'

print("ahmed eats {2},{0},{1} daily".format(fruit_1, fruit_2, fruit_3))

ahmed eats 1 mango,2 banana,1 apple daily

# we can use %s also for embedding the value

In [6]:


name = 'hoorya'
grade = 5

statement = '''%s is in class %s''' 
print(statement %(name,grade))

hoorya is in class 5

In [7]:
p = " "*25

print('%s Dear sir' %p)
print('%s H.no 346' %p)
print('%s Setor 14 B' %p)
print('%s Orangi town Karachi' %p)

                          Dear sir
                          H.no 346
                          Setor 14 B
                          Orangi town Karachi

# string Methods:   len

In [8]:


good_saying = 'honesty is the best policy'
len(good_saying)

26

In [9]:
good_saying = 'honesty is the best policy'
mid_point = int(len(good_saying)/2)
print(mid_point)

13

In [10]:
good_saying = 'honesty is the best policy'
mid_point = int(len(good_saying)/2)

print(good_saying[:mid_point])
print()
print()
print()

print(good_saying[mid_point:])

honesty is th



e best policy

# String methods:  .count

In [11]:



read_book = 'reading book is a good habbit'
print(read_book)
print(read_book.count('e'))

reading book is a good habbit
1

In [12]:
read_book = 'reading book is a good habbit'
print(read_book.count('b'))

3

In [13]:
read_book = 'reading book is a good habbit'
print(read_book.count('o'))

4

In [14]:
print(read_book)
print("how many 'o's ? ", read_book.count('o'))
print("how many 'b's ? ", read_book.count('b'))
print("how many 'e's ? ", read_book.count('e'))
print("how many 't's ? ", read_book.count('t'))
print("how many 'g's ? ", read_book.count('g'))
print("how many 'n's ? ", read_book.count('n'))
print("how many 'k's ? ", read_book.count('k'))
print("how many 'r's ? ", read_book.count('r'))
print("how many 'a's ? ", read_book.count('a'))
print("how many 'm's ? ", read_book.count('m'))
print("how many 'j's ? ", read_book.count('j'))
print("how many 'w's ? ", read_book.count('w'))

reading book is a good habbit
how many 'o's ?  4
how many 'b's ?  3
how many 'e's ?  1
how many 't's ?  1
how many 'g's ?  2
how many 'n's ?  1
how many 'k's ?  1
how many 'r's ?  1
how many 'a's ?  3
how many 'm's ?  0
how many 'j's ?  0
how many 'w's ?  0

In [15]:
print(read_book[:12])
print("# 'o's in first half")
print(read_book[:12].count("o"))

reading book
# 'o's in first half
2

In [16]:
print(read_book[12:])
print("# 'o's in second half")
print(read_book[12:].count("r"))

 is a good habbit
# 'o's in second half
0

# string methods .find

In [17]:


print(read_book)
print("find the first place of 'i'")
print(read_book.find('i') )

reading book is a good habbit
find the first place of 'i'
4

In [18]:
print(read_book)
print("find the first place of 'a'")
print(read_book.find('a') )

reading book is a good habbit
find the first place of 'a'
2

In [19]:
read_book = 'reading book is a good habbit'
print(read_book)
reading = read_book.find('good')
print(reading, '= is starting index for "good"')

reading book is a good habbit
18 = is starting index for "good"

In [20]:
read_book = 'reading book is a good habbit'
print(read_book)

print("read_book:", read_book)
location = read_book.find('i')
#keeps looping until location = -1 (no 'i' found)

while location >= 0:
    print(" 'i' at index = " , location)
    # find("i", location + 1) looks for a "i" after index the first "i" was found
    location = read_book.find("i", location + 1)
print("no more 'i's ")

reading book is a good habbit
read_book: reading book is a good habbit
 'i' at index =  4
 'i' at index =  13
 'i' at index =  27
no more 'i's

In [21]:
print(read_book.find("good"))

18

# String Methods Upper & Lower case

In [22]:
my_string = 'this is a string'
print(my_string)

this is a string

In [23]:
my_string.upper()

'THIS IS A STRING'

In [24]:
new_string = 'TODAY IS FRIDAY'
print(new_string)

TODAY IS FRIDAY

In [25]:
new_string.lower()

'today is friday'

In [26]:
dir(new_string)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# scientific Notation for 10 to the power 6

In [27]:
# calculating the number of Seconds in a year

365*24*60*60

31536000

In [28]:
_/1e6

31.536

# beta level up

# variable

In [1]:
x = "Bismillah"

y = 10

z = True

In [4]:
# creating three variables at a time.........

a,b,c = "orange", "Banana", "cherry"

print(a)
print(b)
print(c)

orange
Banana
cherry

In [5]:
# if we not put comma between each it will take all the given value as a set


a = b = c = "orange", "Banana", "cherry"

print(a)
print(b)
print(c)

('orange', 'Banana', 'cherry')
('orange', 'Banana', 'cherry')
('orange', 'Banana', 'cherry')

In [3]:
# storing a single value in three variables at a time.........

K = L = M = "Mango"

print(K)
print(L)
print(M)

Mango
Mango
Mango

# Summation of Variable

In [1]:
a_1 = 15
b_1 = 96

c_1 = a_1 + b_1

print(c_1)

111

In [2]:
var_1 = "Black "

var_2 = "Hair"

Result = var_1 + var_2

print(Result)

Black Hair

# Some examples of Operators

In [ ]:
# Addition " + "

In [3]:
2 + 2

4

In [ ]:
# Subtration " - "

In [4]:
98 - 51

47

In [ ]:
# Multiplication " * "

In [5]:
48 * 2

96

In [ ]:
# Division " / "

In [6]:
21 / 3

7.0

In [7]:
90 / 4

22.5

# Integer division " / / "

In [9]:
# by integer division " / / " we get rounded off value like.....

90 // 4

# it is not showing 22.5 but it is showing rounded off value 22.....

22

# ** Power operation

In [10]:
2 ** 4

16

# Modulo operator

In [11]:
# 

21 % 3


# it will show 0 because the remainder is 0 and 21 is completly divided by 3....

0

In [13]:
# but if we divide 22 by 3 than.......

22 % 3

# it will show 1 because if we divide 22 / 3 the remainder is not 0......

1

# Typ() function

In [4]:
x_1 = "it's a satarday."
y_1 = 124589
z_1 = 56.897
alpha_1 = True

In [3]:
type(x_1)

str

In [5]:
type(y_1)

int

In [6]:
type(z_1)

float

In [7]:
type(alpha_1)

bool

In [21]:
# we can find th type without creating a variable like this.........

type(879)

int

In [20]:
type(True)

bool

In [22]:
type("hello world")

str

# pow function

In [23]:
pow(12,2)

144

In [24]:
pow(3,5)

243

In [25]:
pow(5,4)

625

# abs function

In [26]:
# convert any numeric value into positive number......

abs(-897.56)

897.56

In [27]:
abs(569)

569

In [28]:
abs(145.65)

145.65